## [Start] Setting "totalGigs" to default value of "0". **
$util.qr($context.args.input.put("totalGigs", $util.defaultIfNull($ctx.args.input.totalGigs, 0)))
## [End] Setting "totalGigs" to default value of "0". **
{}