## [Start] Setting "totalGigs" to default value of "0". **
$util.qr($context.args.input.put("totalGigs", $util.defaultIfNull($ctx.args.input.totalGigs, 0)))
## [End] Setting "totalGigs" to default value of "0". **
## [Start] Setting "totalRevenue" to default value of "0". **
$util.qr($context.args.input.put("totalRevenue", $util.defaultIfNull($ctx.args.input.totalRevenue, 0)))
## [End] Setting "totalRevenue" to default value of "0". **
## [Start] Setting "isRepeatClient" to default value of "false". **
$util.qr($context.args.input.put("isRepeatClient", $util.defaultIfNull($ctx.args.input.isRepeatClient, false)))
## [End] Setting "isRepeatClient" to default value of "false". **
{}